<h2>Отзывы</h2>

<div class="FeedbackSection">

    @{
        foreach (var comment in ViewBag.Com)
        {
            <div class="FeedbackContainer">
                <img src=@comment.Avatar alt="Avatar">
                <p><span>@comment.Name</span> @comment.PublishDate.ToString("h:mm:ss tt")</p>
                <p>@comment.Content</p>
            </div>
        }
    }
</div>



<form class="FeedbackForm">
    <input name="name" placeholder="Укажите ваше имя!" class="FeedbackTextbox" required />
    <textarea rows="4" cols="50" name="subject" placeholder="Введите ваше сообщение:" class="FeedbackMessage" required></textarea>
    <input name="submit" class="FeedbackButton" type="submit" value="Отправить" />
</form>