<h2>Статьи</h2>

<div class="ArticleSection">

    @{
        foreach (var article in ViewBag.Art)
        {
            <div class="ArticleContainer">
                <h1><span>@article.Name</span></h1>
                <p>
                    @article.Content;
                </p>
                <p class="ArticleDate">@article.PublishDate.ToString("dd/MM/yyyy")</p>
            </div>
        }
    }

</div>