
@helper ShowProjs(string MyName, string MyGender, string MyPets)
{
    <ul class="AnswersContainer">
        <li>Ваше имя: @MyName</li>
        <li>Ваш пол: @MyGender</li>
        <li>Любмое животное: @MyPets</li>
    </ul>
}
